# Robot Kiosk Application Settings
# (C) 2017-2026, Radical Electronic Systems
# http://www.radicalsystems.co.za  info@radicalsystems.co.za

# Remote URL (transaction page, loaded via Remote button)
WB_REMOTE_URL=http://127.0.0.1

# Local URL (home page, loaded via Home button)
WB_LOCAL_URL=http://127.0.0.1

# Display orientation: portrait or landscape
WB_LAYOUT=landscape
